@model Smsproz.Models.Fees

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fees</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cla.ClaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cla.ClaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeesAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeesAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
